<!doctype html>
<html lang="en">
  <head>
  
    <title>
        Fetch Rewards Homepage
    </title>
    
  </head>
  <body>
  
    <form action="/transaction" method="POST" class = "transaction">
        <input type="text" name = "payer" placeholder="payer">
        <input type="text" name = "points" placeholder="points">
        <input type="time" name = "timestamp" placeholder="timestamp">

        <input type="submit" value="transact" name = "transaction_submit">
    </form>
  
  </body>
</html>